%p.anchor{id: article.title.downcase.gsub(" ", "_")}
%header
    - if article.title.present?
        %h3.article-title= article.title
        %p.article-published
            %span= "Published #{article.start_date.strftime("%B %-d, %Y")}"
            - if current_user && current_user.can_update?(article)
                = link_to edit_article_path(article) do
                    %span Edit
            - if current_user && current_user.can_delete?(article)
                = link_to article, method: :delete, data: { confirm: 'Are you sure?' } do
                    %span Delete

.article
    %p= simple_format(article.body)
    %p
        - article.article_assets.each do |attachment|
            - if attachment.is_image?
                = image_tag attachment.asset.url(:medium)
            - else
                = link_to attachment.description, attachment.asset.url, { class: "article-attachment" }
                %br

    -# %p.article-expires Article will be shown until #{article.end_date.strftime("%B %-d, %Y")}
