%p.anchor{id: article.title.downcase.gsub(" ", "_")}
%header
    %h3= article.title
    %span.article-published= "Published #{article.start_date.strftime("%B %-d, %Y")}"
.article
    %p= simple_format(article.body)
    %p.article-expires Article will be shown until #{article.end_date.strftime("%B %-d, %Y")}

    = link_to 'Edit', edit_article_path(article) if current_user && current_user.can_update?(article)
    = link_to 'Delete', article, method: :delete, data: { confirm: 'Are you sure?' } if current_user && current_user.can_delete?(article)
