.attachment
    - if f.object.persisted?
        = link_to f.object.description, f.object.asset.url, { class: "article-attachment" }
    - else
        .form-group
            = f.input :asset, as: :file

    .form-group
        .form-inputs.row
            = f.input :description, wrapper_html: {class: "col-md-9"}
            = f.input :display_order, wrapper_html: {class: "col-md-3"}
        = link_to_remove_association "Remove", f, { class: 'btn btn-default btn-xs', wrapper_class: "attachment" }
