.row
    .col-md-12.admin
        %h3 Butler Creek Block Captains
        = link_to new_admin_block_captain_path, title: "Add", class: "btn btn-primary btn-xs admin-header" do
            %span.glyphicon.glyphicon-plus
.row
    .col-md-12.admin
        %table.table
            %thead
                %tr
                    %th Description
                    %th Name
                    %th Email
                    %th Phone
                    %th Actions

            %tbody
                - @block_captains.each do |captain|
                    %tr
                        %td= captain.description
                        %td= captain.user.first_last if captain.user
                        %td= captain.user.email if captain.user
                        %td.wrap= captain.user.phone if captain.user
                        %td
                            = link_to edit_admin_block_captain_path(captain), title: "Edit", class: "btn btn-primary btn-xs" do
                                %span.glyphicon.glyphicon-edit
                            = link_to admin_block_captain_path(captain), method: :delete, title: "Delete", class: "btn btn-danger btn-xs", data: { confirm: 'Are you sure?' } do
                                %span.glyphicon.glyphicon-trash
