!!! 5
%html

%head
    %meta{ charset: "utf-8" }
    %meta{ "http-equiv": "X-UA-Compatible", content: "IE=edge" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
    %meta{ name: "description", content: "" }
    %meta{ name: "author", content: "" }

    %title Butler Creek HOA
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

%body
    / Navigation
    = render "layouts/menu"

    / Header Carousel
    .carousel.slide{ id: "carousel", "data-ride": "carousel" }
        / Indicators
        %ol.carousel-indicators
            %li.active{ "data-target": "#carousel", "data-slide-to": "0" }
            %li{ "data-target": "#carousel", "data-slide-to": "1" }
            %li{ "data-target": "#carousel", "data-slide-to": "2" }

        / Wrapper for slides
        .carousel-inner
            .item.active
                %img{ src: "images/bc_entrance_70.jpg" }
                -# .carousel-caption
                -#     %h4 Nick
            .item
                %img{ src: "images/pool_70.jpg" }
                -# .carousel-caption
                -#     %h4 Sam
            .item
                %img{ src: "images/tennis_70.jpg" }
                -# .carousel-caption
                -#     %h4 Matthew

        / Controls
        %a.left.carousel-control{ href: "#carousel", "role": "button", "data-slide": "prev" }
            %span.glyphicon.glyphicon-chevron-left
        %a.right.carousel-control{ href: "#carousel", "role": "button", "data-slide": "next" }
            %span.glyphicon.glyphicon-chevron-right

    .container
        .row
            - flash.each do |name, msg|
                = content_tag :div, msg, class: "alert alert-info"
            = yield
