!!! 5
%html

%head
    %meta{charset: "utf-8"}
    %meta{"http-equiv": "X-UA-Compatible", content: "IE=edge"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %meta{name: "description", content: ""}
    %meta{name: "author", content: ""}

    %title Butler Creek HOA
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

%body
    / Navigation
    = render "layouts/menu"

    / Header Carousel
    .carousel.slide{id: "carousel", "data-ride": "carousel"}
        / Indicators
        %ol.carousel-indicators
            %li.active{"data-target": "#carousel", "data-slide-to": "0"}
            %li{"data-target": "#carousel", "data-slide-to": "1"}
            %li{"data-target": "#carousel", "data-slide-to": "2"}

        / Wrapper for slides
        .carousel-inner
            .item.active
                %img{src: "images/bc_entrance_70.jpg"}
                -# .carousel-caption
                -#     %h4 Nick
            .item
                %img{src: "images/pool_70.jpg"}
                -# .carousel-caption
                -#     %h4 Sam
            .item
                %img{src: "images/tennis_70.jpg"}
                -# .carousel-caption
                -#     %h4 Matthew

        / Controls
        %a.left.carousel-control{href: "#carousel", "role": "button", "data-slide": "prev"}
            %span.glyphicon.glyphicon-chevron-left
        %a.right.carousel-control{href: "#carousel", "role": "button", "data-slide": "next"}
            %span.glyphicon.glyphicon-chevron-right

    /
    .container#main-container
        .row
            .col-md-12
                - flash.each do |name, msg|
                    = content_tag :div, msg, class: "alert alert-info"
                %h1.page-header Welcome to Butler Creek
                %p Butler Creek is located in Kennesaw, GA, about 30 minutes north of downtown Atlanta, close to I-75 and I-575, the mountains, the beach, and everything in between. We are a swim-tennis community of 144 homes located between Cobb Parkway and Stilesboro Road, convenient to shopping, the new Atlanta Braves Stadium, lakes, and the mountains. Butler Creek is a very social community, a true neighborhood where neighbors know neighbors, and people look out for one another.
            .col-md-12
                %h2 Check out our latest news...
            .col-md-9
                - @articles.each do |article|
                    %h3= article.title
                    %p.article-published= article.start_date.strftime("%B %-d, %Y")
                    %p= simple_format(article.body)
                    %p.article-expires Article will be shown until #{article.end_date.strftime("%B %-d, %Y")}

    / Footer
    -# %footer.footer
    -#     .container
    -#         %p.text-muted Copyright &copy; Butler Creek HOA #{Date.today.year}
